use flake ../..#gitea-github-mirror.passthru.devShell

# https://github.com/direnv/direnv/wiki/Sops
use_sops() {
    local path=${1:-$PWD/secrets.yaml}
    eval "$(sops -d --extract '["gitea-github-mirror"]' ../../machines/sagittarius/secrets.yaml | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

use sops
